<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :book_name, class: 'form-control' %>
  </div>

  <div class="input-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :book_description, class: 'form-control' %>
  </div>

  <div class="input-group">
    <br>
    <%= form.submit nil, class: 'btn btn-primary' %>
    <br><br>
  </div>
<% end %>
