<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= raw @book.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @book.description %>
</p>

<p>
  <strong>Who has this book in favourites?</strong>
  <%= @book.users.pluck(:email).to_sentence %>
</p>

<p>
  <strong>Creator of that book:</strong>
  <%= @book.creator.try(:email) %>
</p>

<%= link_to 'Back', books_path, class: 'btn btn-default' %>
