<p id="notice"><%= notice %></p>

<h1>My favorite Books</h1>

<%= simple_form_for '', url: books_path, method: :get do |f| %>
  <div class="input-group">
    <%= f.input :search, label: false, input_html: {value: params[:search], class: 'form-control', placeholder: "Search by name"} %>
    <span class="input-group-btn">
      <%= f.submit 'Search', class: 'btn btn-default' %>
    </span>
  </div><!-- /input-group -->
<% end %>

<hr>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= h truncate(book.description, length: 80) %></td>
        <td class="text-right">
          <%= link_to 'Show', book, class: 'btn btn-sm btn-default' %>
          <% if current_user && current_user == book.creator %>
            <%= link_to 'Details & stats', details_book_path(book), class: 'btn btn-sm btn-default' %>
            <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-sm btn-default' %>
          <% end %>
          <%= link_to 'Remove from list', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path, class: 'btn btn-default btn-primary' %>
