<%= simple_form_for '', url: list_books_path, method: :get do |f| %>
  <div class="input-group">
    <%= f.input :search, label: false, input_html: {value: params[:search], class: 'form-control', placeholder: "Search by name"} %>
    <span class="input-group-btn">
      <%= f.submit 'Search', class: 'btn btn-default' %>
    </span>
  </div><!-- /input-group -->
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td title="<%= book.description %>">
          <%= h truncate(book.description, length: 80) %>
        </td>
        <td>
          <% if user_signed_in? %>
            <%= link_to 'Add to my books', add_to_my_books_book_path(book, format: :js), method: :post, remote: true, class: 'btn btn-sm btn-default' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
